.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.head h1 {
  color: white;
}
.cont .backimg {
  position: absolute;
  z-index: -1;
  height: 70vh;
  width: 100%;
  top: 0px;
  overflow: hidden;
}

.maincontact {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 80%;
  gap: 30px;
  margin: 60px auto;
}
.section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
.section iframe {
  width: 465px;
  height: 385px;
  border-radius: 10px;
}
.section h1 {
  font-weight: bold;
  width: 230px;
}
.phonecards {
  display: flex;
  gap: 20px;
}
.phone {
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0px 0px 5px 2px rgb(231, 231, 231);
  width: 250px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  background-color: white;
}
.phone img {
  width: 40px;
}
.phone p {
  font-size: 12px;
  color: rgb(170, 170, 170);
}
.form {
  box-shadow: 0px 0px 5px 2px rgb(231, 231, 231);
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 40%;
  margin-left: 0;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 40px;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .maincontact {
    flex-direction: column;
    margin: 0 auto;
  }
  .section {
    width: 100%;
  }
  .section iframe {
    width: 300px;
    height: 250px;
    border-radius: 10px;
  }
  .form {
    width: 100%;
  }
  .phonecards {
    flex-direction: column;
    align-items: center;
  }
  .cont .backimg {
    height: 30vh;
  }
}

.form input {
  width: calc(100% - 30px);
  display: block;
  height: 15px;
  border-radius: 25px;
  border: none;
  background-color: #eee;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form label {
  color: #797777;
  text-align: left !important;
  margin-top: 10px !important;
}
.form textarea {
  height: 120px;
  width: calc(100% - 30px);
  border-radius: 25px;
  border: none;
  background-color: #eee;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form button {
  cursor: pointer;
  padding: 15px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 25px;
  width: 150px;
}
