.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-container {
  width: 100%;
  display: flex;
  transition: 0.75s;
}
.slider-container img {
  width: 100%;
  height: 106vh;
  object-fit: cover;
}
.content-slider {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 22%;
}
.content-slider p:first-child {
  margin-bottom: 30px;
  background-color: white;
  padding: 10px;
  width: fit-content;
}
.content-slider p:first-child span {
  color: orangered;
}
.content-slider p:last-child {
  color: white;
  font-size: 50px;
}
.arrow div {
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: rgba(189, 188, 188, 0.473);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow div:first-child {
  top: 50%;
  left: 5%;
}
.arrow div:last-child {
  top: 50%;
  right: 5%;
}
